*{margin:0; padding:0;}
li{list-style:none;}

.main{background-color: #123456;}
.main img{width:100%;} 
/*
적응형: %단위를 사용하여 부모 크기 기준으로 값이 변동되도록 지정
          부모도 %를 사용하여 최상위 부모인 body(브라우저) 크기의 비율로 변동되도록 지정
          <<img 및 height값이 지정되지 않은 block요소는
            height가 auto로서 가로크기의 비율에 맞게 변경된다. ※크기 자체가 변경되는 것으로 보인다.
            But, 해상도 깨질 수 있으므로 -> 큰 이미지나 벡터이미지를 사용해야함!!
*/

.content{background-color: #987654;}
.clearfix::after{display:block; content:""; clear:both;} /*css는 반드시 부모->자식 순으로*/
.content li{width:22.75%;
            margin-left:3%;    /*캐스캐이팅 순서 주의!!*/
            float:left;}
.content li:nth-child(1){margin-left:0;}  /*이미지 크기 홀수로 넘치면 -> 그대로 둔다* ==> 마진 그대로 두기 위해서 이미지 크기 100%부여*/
.content li img{width:100%;}
/*
float 문제점 - 부모의 세로값이 0이 된다
문제점 발생원인 - z-index:auto가 다른 z-index:auto로 변경된다
                  (자기자리를 지키지 않는다->잡아 끌고감)  => clearfix해결
*/

/* 
px단위의 사이즈 계산 : 총길이-여백개수*임의의 여백 사이즈 / 내용물 개수 = 내용물 사이즈
%단위의 사이즈 계산 : 100%만 맞추면 된다!
                      총 갈이는 무조건 100%, 여백과 내용물의 합이 100%  
                      ex) li 4개, 여백 1%로씩 -> 여백 3% 내용물 97%/4 = 24.25% -> %단위는 소수점자리 사용할 수 있음!!!!!
*/


@media only screen and (max-width:1600px) and (min-width:1000px){
    .content{background-color: red;}
}
/*반응형 : 어떠한 특정조건에서는 형태가 바뀌는것!!*/
/*         스크린(body/브라우저)의 크기 영역에 따라서 개별적인 명령을 하는 것!
           ===> 기본 화면의 css를 특정 해상도에서만 css를 변경하는 것===> 속성값을 바꾸는 것!!!!*/