*{margin:0; padding:0;}
.clearfix::after{display:block; content:""; clear:both;}
section,aside{float:left;}

.wrap{width:1280px;
      margin:0 auto;}

header{height:60px;
       background-color: #159789;
       font-size: 30px;
       text-align: center;
       line-height: 60px;} /*line-height: 글자 크기 관계없이 수직 정중앙 정렬*/

nav{height:50px;
    background-color: #f0a500;
    text-align: center;
    line-height: 50px;}

main{background-color: #ab456a;}

section{width:80%;
        height:1000px;
        background-color: #78ab45;}
article{width: 80%;
        height:200px;
        border: 1px solid black;
        border-radius: 100%; /*눈에 보이는 것만 둥굴게, 실제 사각형*/
        /* border-radius: 60px 0 0 0; 왼쪽상단부터 시계방향으로 각 모서리크기 조절 가능*/
        margin: 0 auto;
        text-align: center;
        line-height:200px;}


aside{width:20%;
    height:1000px;
    background-color: #851545;}
.fixed_back{background-color: #abdedf;
            position:fixed;  /*부모를 배치하고 자신을 fixed적용 => 정보를 가리지 않는다(창을 줄이면 사라짐)*/
            top:50px;
            right:50px;}    /*자신을 fixed적용하고 배치하면(top/left/right/bottom있으면) => 정보를 가린다*/

footer{height:50px;
        background-color:#489753;
        text-align:center;
        line-height:50px;}